#header {
    position: relative;
    height: 2em;
    text-align: center;
    padding-bottom: 10px;
    margin-top: 0px;
}

 #header h1 {
    font-family: impact, fantasy;
    text-align: center;
    font-size: 50px;
    margin-top: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
    height: 20px;
 
}

#header img {
    height: 4em;
    float: left;
    width: 70%;
    border-right:1px;
   padding-right:5em;
     
    
}


#nav  {
 
  margin-left: 0;
  padding-left: 0;
  text-align: center;
  border:1px solid red;
  margin-right: 0;
}  


#nav ul li{
  display: inline;
  list-style: none;
  padding: 1em;
  text-align: left; 
}
img {
  width: 400px;
  padding-left: 350px;
}
#content {
  margin-left: 12em;
  margin-right: 10em;
  padding-left: 3.5em;
  padding-right: 3.5em;
  font-size: 22px;
  padding-top:2em;
}

#content h2 {
  border: 1px solid;
  width: 75px;
  text-align: center;
}

#content h3 {
  border: 5px solid red;
  width: 46px;
  text-align: center
}


#content img {
  width: 250px;
  padding-left: 0;
}

#footer{
  border: 1px solid black;
  margin-top: 20px;
  padding-top: 20px;
  text-align: center;
  padding-bottom: 20px;
}